$("#article-status_<%= @article.id %>").html("<span class='label label-warning'>Pending</span>");
$("#article-state_<%= @article.id %>").html("<%= j render partial: 'article_state', locals: {:article => @article} %>");
swal("Oh no!", "You have mark this article as pending!", "warning")
