<tr>
  <td><%= store_shop_collection_counter + 1 %></td>
  <td>
    <%= link_to store_shop_collection.title, admin_store_shop_collection_path(store_shop_collection), data: { turbolinks: false } %>
  </td>
  <td><%= store_shop_collection.collection_id %></td>
</tr>
