@font-face {
	font-family: 'ProximaNovaRegular';
	src: font-url("proxima-nova/ProximaNova-Reg-webfont.eot");
	src: font-url("proxima-nova/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"),
			 font-url("proxima-nova/ProximaNova-Reg-webfont.ttf") format("truetype"),
			 font-url("proxima-nova/ProximaNova-Reg-webfont.svg#ProximaNovaRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaSemibold';
	src: font-url("proxima-nova/ProximaNova-Sbold-webfont.eot");
	src: font-url("proxima-nova/ProximaNova-Sbold-webfont.eot?#iefix") format("embedded-opentype"),
			 font-url("proxima-nova/ProximaNova-Sbold-webfont.ttf") format("truetype"),
			 font-url("proxima-nova/ProximaNova-Sbold-webfont.svg#ProximaNovaSemibold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaExtrabold';
	src: font-url("proxima-nova/ProximaNova-Xbold-webfont.eot");
	src: font-url("proxima-nova/ProximaNova-Xbold-webfont.eot?#iefix") format("embedded-opentype"),
			 font-url("proxima-nova/ProximaNova-Xbold-webfont.ttf") format("truetype"),
			 font-url("proxima-nova/ProximaNova-Xbold-webfont.svg#ProximaNovaExtrabold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaThin';
	src: font-url("proxima-nova/ProximaNova-Thin-webfont.eot");
	src: font-url("proxima-nova/ProximaNova-Thin-webfont.eot?#iefix") format("embedded-opentype"),
			 font-url("proxima-nova/ProximaNova-Thin-webfont.ttf") format("truetype"),
			 font-url("proxima-nova/ProximaNova-Thin-webfont.svg#ProximaNovaThin") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaBold';
	src: font-url("proxima-nova/ProximaNova-Bold-webfont.eot");
	src: font-url("proxima-nova/ProximaNova-Bold-webfont.eot?#iefix") format("embedded-opentype"),
			 font-url("proxima-nova/ProximaNova-Bold-webfont.ttf") format("truetype"),
			 font-url("proxima-nova/ProximaNova-Bold-webfont.svg#ProximaNovaBold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaLight';
	src: font-url("proxima-nova/ProximaNova-Light-webfont.eot");
	src: font-url("proxima-nova/ProximaNova-Light-webfont.eot?#iefix") format("embedded-opentype"),
			 font-url("proxima-nova/ProximaNova-Light-webfont.ttf") format("truetype"),
			 font-url("proxima-nova/ProximaNova-Light-webfont.svg#ProximaNovaLight") format("svg");
	font-weight: normal;
	font-style: normal;
}
