<footer id="footer">
  <div class="inner">
    <ul class="icons">
      <li>
        <%= link_to "https://www.facebook.com/kldxteam", target: "_blank", class: "icon fa-facebook" do %>
          <span class="label">Facebook</span>
        <% end %>
      </li>
      <li><a href="#" class="icon fa-twitter">
        <span class="label">Twitter</span>
      </a></li>
      <li><a href="#" class="icon fa-instagram">
        <span class="label">Instagram</span>
      </a></li>
    </ul>
    <ul class="copyright">
      <li>Copyright&copy; 2016 by Kuala Lumpur DX Team (KLDX).</li>
    </ul>
  </div>
</footer>
