<footer id="footer">
  <div class="inner">
    <ul class="icons">
      <li>
        <%= link_to "https://www.facebook.com/kldxteam", target: "_blank", class: "icon fa-facebook" do %>
          <span class="label">Facebook</span>
        <% end %>
      </li>
      <li><a href="#" class="icon fa-twitter">
        <span class="label">Twitter</span>
      </a></li>
      <li><a href="#" class="icon fa-instagram">
        <span class="label">Instagram</span>
      </a></li>
    </ul>
    <ul class="copyright">
      <li>Copyright&copy; 2017 by Kuala Lumpur DX Team (KLDX). All right reserved.</li>
      <br/>
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Staff Login", login_path %>
      <% end %>
    </ul>
  </div>
</footer>
